

main {
    background-color: black;
}

.container {
    padding-top: 20px;
}

.findEnt {
    color: white;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

.whatsHot {
    color: white;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 32px;
    font-weight: bold;
}

.searchBtn {
    padding-top: 10px;
    
}

.button {
    background-color: rgb(14, 177, 14);
    color: black;
    border-color: black;
}

.button:hover {
    border-color: white;
    color: black;
}

input {
    text-align: center;
    
}